.switch{
    display: flex;
    margin: 0;
    padding: 0px;
    width: 200px;
    height: 100px;    
    justify-content: center;
    align-items: center;
}
%faicon {
    font-size:36px;
    margin-left:10px; 
    margin-right: 10px; 
    transition: 0.2s;
}
.NightSwitchFaicon{
    @extend %faicon;
    color:white;
}
.NightSwitchFaiconNight{
    @extend %faicon;
    color:black;
}
@media (max-width: 430px){
    .NightSwitchFaicon, .NightSwitchFaiconNight{
        font-size: 24px;
        margin-left: 5px; 
        margin-right: 5px; 
    }
    .switch{
        width: 80%;
    }
}