@import "../../variables";
%weatherSection{
    flex-direction: column;
    gap: 15px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition : $transitionTime;
}
.weatherSectionDay{
    @extend %weatherSection;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: 4px 8px rgba(156, 148, 138, 0.26);
}
.weatherSectionNight{
    @extend %weatherSection;
    background-color: rgb(62, 41, 41);
    border: 1px solid black;
    box-shadow: 4px 8px rgba(156, 148, 138, 0.26);
}
.city{
    margin-bottom: 10px;
}
.weatherIcon{
    border: solid 1px;
    border-radius: 50%;
    display:block;
    margin:auto;
    background-color: #f8ba3da9;
    margin-bottom: 20px;
}
.details{
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}
.recommendation{
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 25px;   
    border-radius: 12px;
    font-size: large;
}
.feelsLike{
    display:inline-block;
}
.temp{
    display: inline-block;
    margin-right: 10px;    
}
.weatherCondition{
    margin-top: -3px;
}
.humidWind{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 430px){
    .recommendation, .weatherCondition{
        margin-left: 5px;
        margin-right: 5px;
    }
}