@import "../../variables";
%weatherSection{
    flex-direction: column;
    gap: 15px;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition : $transitionTime;
    border: 1px solid black;
}
.weatherSectionDay{
    @extend %weatherSection;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 8px rgba(156, 148, 138, 0.26);
}
.weatherSectionNight{
    @extend %weatherSection;
    background-color: #242424;
    border-color: white;
    box-shadow: none;
    color: white;
}
.city{
    margin-bottom: 10px;
}
%weatherIcon{
    border: solid 1px;
    border-radius: 45%;
    display: block;
    margin: auto;
    background-color: #ffce6c;
    margin-bottom: 20px;
    transition: $transitionTime;
}
.weatherIconDay{
    @extend %weatherIcon;
    border-color: black;
}
.weatherIconNight{
    @extend %weatherIcon;
    border-color: #242424;
}
.details{
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}
%recommendation{
    display: inline-block;
    margin: auto;
    width: auto;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    padding: 25px;   
    border-radius: 12px;
    font-size: large;
    transition: $transitionTime;
}
.recommendationDay{
    @extend %recommendation;
}
.recommendationNight{
    @extend %recommendation;
    background-color: $headerColorNight;
    border-color: white;
}
.feelsLike{
    display:inline-block;
}
.temp{
    display: inline-block;
    margin-right: 10px;    
}
.weatherCondition{
    margin-top: -3px;
}
.humidWind{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 430px){
    .recommendation, .weatherCondition{
        margin-left: 5px;
        margin-right: 5px;
    }
    %weatherSection{
        width: 80%;
    }
}