.city{
    margin-bottom: -3px;
}
.weatherIcon{
    display:block;
    margin:auto;
}
.details{
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}
.recommendation{
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 25px;   
    border-radius: 12px;
    font-size: large;
}
.feelsLike{
    display:inline-block;
}
.temp{
    display: inline-block;
    margin-right: 10px;    
}
.weatherCondition{
    display: inline-block;
    margin-top: -3px;
}
.humidWind{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}


@media (max-width: 430px){
    .recommendation, .weatherCondition{
        margin-left: 5px;
        margin-right: 5px;
    }
}