@import "../../variables";
.searchInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1;
    margin-bottom: 20px;
    margin-top: 15px;
}
.searchBar{
    width: 200px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    border: none;
    font-family: 'Inter', sans-serif;
}
.searchBar::placeholder{
    font-family: 'Inter', sans-serif;
}
%searchButton{
    cursor: pointer;
    font-size: 20px;
    border-style: none;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Inter', sans-serif;
    transition: $transitionTime;
    text-decoration: none;
}
%searchButton:hover{
    transition: 0.1s;
}
.searchButtonDay{
    @extend %searchButton;
    background-color: $headerColorDay;
    color: $buttonTextDay;
}
.searchButtonDay:hover{
    background-color: $buttonHoverDay;
    color: $buttonTextDayHover;
}
.searchButtonNight{
    @extend %searchButton;
    background-color: $buttonNight;
    color: $buttonTextNight;
}
.searchButtonNight:hover{
    background-color: $buttonHoverNight;
    color: $buttonTextNightHover;
}
.dropdownDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
%dropdownDivSelect{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    border: none;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}
.dropdownDivSelectCountry{
    @extend %dropdownDivSelect;
    width: 400px;
}
.dropdownDivSelectState{
    @extend %dropdownDivSelect;
    width: 300px;
}
%error{
    display: none;
    border: solid 1px;
    border-radius: 10px;
    margin: auto;
    width: 40%;
}
.errorDay{
    @extend %error;
    background-color: $buttonTextDay;
}
.errorNight{
    @extend %error;
    background-color: $headerColorNight;
    color: white;
}
@media (max-width : 430px){
    .searchDiv{
        width: 100%;
        gap: 5px;
    }
    .searchBar{
        padding-right: 10px;
    }
    %error{
        width: 80%;
    }
    .dropdownDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .dropdownDivSelectCountry{
        @extend %dropdownDivSelect;
        width: 300px;
    }
    .dropdownDivSelectState{
        @extend %dropdownDivSelect;
        width: 250px;
    }
}