%topBar{
    background-color: rgb(16, 92, 92);
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    flex-direction: row;
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}
.topBarDay{
    @extend %topBar;
}
.topBarNight{
    @extend %topBar;
}
.leftSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: start;
    gap: 20px;
}
%leftSectionText{
    font-size: 30px;
    white-space:nowrap;
}
.shouldDay, .headerCountryDay{
    @extend %leftSectionText;
    color: white;
}
.shouldNight, .headerCountryNight{
    @extend %leftSectionText;
    color: black;
}
.rightSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: end;
}
%faicon{
    font-size:36px;
    margin-left:10px; 
    margin-right: 10px; 
}
%faicon:hover{
    color: rgb(0, 0, 0);
    transition: 0.1s;
}
.faiconDay{
    @extend %faicon;
    color:rgb(255, 255, 255);
}
.faiconDay:hover{
    color:rgb(20, 18, 18);
}
.faiconNight{
    @extend %faicon;
    color:rgb(14, 13, 13);
}
.faiconNight:hover{
    color:rgb(211, 63, 63);
}
.switch{
    padding-right:-215px; 
    width: 100px;
    height: 100px;    
}
@media (max-width: 430px){
    .leftSection{
        gap: 10px;
    }
    .topBar{
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .faicon{
        font-size: 30px;
        margin-left: 5px; 
        margin-right: 5px; 
    }
    .should, .headerCountry{
        font-size: 20px;
    }
}