.should, .headerCountry{
    color: white;
    font-size: 30px;
    white-space:nowrap;
}
.topBar{
    background-color: rgb(16, 92, 92);
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    flex-direction: row;
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}
.leftSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: start;
    gap: 20px;
}
.rightSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: end;
}
.faicon{
    font-size:36px;
    margin-left:10px; 
    margin-right: 10px; 
    color:rgb(255, 255, 255);
}
.faicon:hover{
    color: rgb(0, 0, 0);
    transition: 0.1s;
}

@media (max-width: 430px){
    .topBar{
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .faicon{
        font-size: 24px;
        margin-left: 5px; 
        margin-right: 5px; 
    }
    .should, .headerCountry{
        font-size: 15px;
    }
}