@import "../../variables";
%topBar{
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    flex-direction: row;
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    transition: $transitionTime;
}
.topBarDay{
    @extend %topBar;
    background-color: $headerColorDay;
}
.topBarNight{
    @extend %topBar;
    background-color: $headerColorNight;
}
.leftSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: flex-start;
    gap: 20px;
}
%leftSectionText{
    font-size: 30px;
    transition: $transitionTime;
    white-space:nowrap;
}
.shouldDay, .headerCountryDay{
    @extend %leftSectionText;
    color: white;
}
.shouldNight, .headerCountryNight{
    @extend %leftSectionText;
    color: rgb(255, 255, 255);
}
.rightSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: flex-end;
}
%faicon{
    font-size:36px;
    transition: $transitionTime;
    margin-left:10px; 
    margin-right: 10px; 
}
%faicon:hover{
    transition: 0.1s;
}
.faiconDay{
    @extend %faicon;
    color:$faiconDay;
}
.faiconDay:hover{
    color:$faiconDayHover;
}
.faiconNight{
    @extend %faicon;
    color:$faiconNight;
}
.faiconNight:hover{
    color:$faiconNightHover;
}
@media (max-width: 430px){
    .leftSection{
        gap: 10px;
    }
    %topBar{
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
    %faicon{
        font-size: 30px;
        margin-left: 5px; 
        margin-right: 5px; 
    }
    %leftSectionText{
        font-size: 20px;
    }
    .headerCountryDay, .headerCountryNight{
        font-size: 0;
    }
    .rightSection{
        gap:0px;
    }
}