// Day Colours
$primaryColorDay: #61103d;
$buttonHoverDay: red;
$appBackgroundDay: #c5aa7e;
$buttonTextDay: white;
$buttonTextDayHover: white;

// Night Colours
$primaryColorNight: grey;
$buttonHoverNight: red;
$appBackgroundNight: blue;
$buttonTextNight: black;
$buttonTextNightHover: white;

// Transition Times
$transitionTime: 0.2s;
$transitionTimeButton: 0.1s;
